html,body{
  width:100%;
  height: 100%;
  margin: 0;
  background-color: BLACK;
  overflow: hidden;
  font-family: 'Arimo', sans-serif;
  color: #b3d8cd;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-variant: small-caps;
}
#main-frame{
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  z-index: 1;
}
#map{
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 0px 2vw black;
}
.sidebar{
  width: 30vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  right: 0px;
  background-color: #191e1e;
  box-shadow: 0px 0px 2vw black;
  z-index: 100;
}
.gmnoprint{
  display:none;
}
.container{
  width: 25vw;
  height: 99vh;
  position: absolute;
  left: 2.5vw;
  font-size: 4vh;
  margin-top:1vh;
}
iframe{
  margin-top:1vh;
  border: 0;
  width: 25vw;
  height: 20vh;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.input{
  margin-top:1vh;
  width: 24vw;
  height:3vh;
  border-radius: 0.5vh;
  border: 0;
  font-size: 2vh;
  background-color: #4a5e63;
  line-height: 3vh;
  padding-left: 1vw;
}
.list{
  margin-top:1vh;
  width: 24vw;
  height:40vh;
  border-radius: 0.5vh;
  border: 0;
  font-size: 2vh;
  background-color: #4a5e63;
  line-height: 3vh;
  padding-left: 1vw;
}
.text-field{
  margin-left: 0.5vw;
  width:10.5vw;
  position: absolute;
  border-radius: 0 0.5vh 0.5vh 0;
  border: 0;
  height: 2.6vh;
  right: 0px;
  font-size: 2vh;
  font-variant: small-caps;
  font-family: 'Arimo', sans-serif;
  padding-left: 2vh;
  background-color: #2a3335;
  color: #b3d8cd;
}
.text-field:hover{
}
.text-field:active{
  outline:none;
}
.text-field:focus{
  outline:none;
}
#waypointList-container-two{
  width: 24vw;
  height: 37vh;
  margin-left: -1vw;
  border-radius: 0 0 0.5vh 0.5vh;
  border: 0;
  font-size: 2vh;
  background-color: #2a3335;
  line-height: 3vh;
  padding-left: 1vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
#addPoint{
  background-image: url('../res/plus.png');
  background-size: 4vh 4vh;
  width: 4vh;
  height: 4vh;
  position: absolute;
  left: 7vw;
  cursor: pointer;
}
#removePoint{
  background-image: url('../res/minus.png');
  background-size: 4vh 4vh;
  width: 4vh;
  height: 4vh;
  position: absolute;
  right: 7vw;
  cursor: pointer;
}
#tools-container{
  margin-top: 1vh;
  width: 25vw;
  height: 4vh;
}
::-webkit-scrollbar {
  width: 0.5vw;
}
#waypointList-container-two::-webkit-scrollbar-track {
  display: none;
}

#waypointList-container-two::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
}

#waypointList-container-two::-webkit-scrollbar-button {
      display: none;
}

::-webkit-scrollbar-corner {
      display: none;
}
.pointlist{
  width:25vw;
  height: 7vh;
  border-bottom: 1px solid #4a5e63;
  margin-left: -1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.codename{
  font-size: 2vh;
  font-family: 'Arimo', sans-serif;
  color: #b3d8cd;
  display:inline;
  width:6vh;
  height: 2vh;
  background-color: inherit;
  border: 0;
  margin-left: 1vw;
  border-bottom: 1px solid #688e8a;
  font-variant: small-caps;
}
.codename:focus{
  border-bottom: 1px solid #8bbfb9;
  outline:none;
}
.coor{
  font-size: 2vh;
  font-family: 'Arimo', sans-serif;
  color: #b3d8cd;
  display:inline;
  width:6vh;
  height: 2vh;
  background-color: inherit;
  border: 0;
  margin-left: 1vw;
  border-bottom: 1px solid #688e8a;
  font-variant: small-caps;
}
.coor:focus{
  border-bottom: 1px solid #8bbfb9;
  outline:none;
}
